{% for interface in item.interfaces %}
interface {{interface.intf}}
 ip address {{interface.ip}}
 no shutdown
!
{% endfor %}

ip dhcp pool {{item.dhcp.pool}}
 network {{item.dhcp.network}}
 default-router {{item.dhcp.gateway}}
 dns-server {{item.dhcp.dns}}

router ospf {{ item.ospf.id }}
{% for net in item.ospf.network %}
 network {{ net }}
{% endfor %}